@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

/*
    NAV BAR
--------------------*/
button.navbar-toggler:active,
button.navbar-toggler:focus {
    outline: none;
}

nav.custom-nav {
    background-color: #DBF9F4 !important;
    padding-left: 2em;
    padding-right: 2em;
}

nav.custom-nav li a {
    border-bottom: 2px solid transparent;
}
nav.custom-nav li a:hover {
    color: #1C6E8C;
}

@media (min-width: 992px) {
    nav.custom-nav {
        padding-left: 4em;
        padding-right: 4em;
    }

    nav.custom-nav ul li {
        margin-left: 1em;
        margin-right: 1em;
    }
    nav.custom-nav li a:hover {
        border-bottom: 2px solid #1C6E8C;
    }

}
@media (max-width: 420px) {
    nav.custom-nav .navbar-brand {
        font-size: 1.2em;
    }
}

/*
    SECTION: FORM
---------------------------*/
section#form-section {
    margin-top: 4em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 576px) {
    section#form-section {
        margin-top: 2em;
    }
}
section#form-section p {
    font-size: 1.5em;
    font-weight: 600;
}

section#form-section form {
    display: flex;
    flex-direction: column;
}

section#form-section form input {
    padding: .5em 1em;
    line-height: 1.1;
    width: 350px;
}

section#form-section form input[type="submit"] {
    border: none;
    width: 160px;
    align-self: center;
    margin-top: 1em;
    font-weight: 600;
    padding: 8px 10px;
    background-color: #1C6E8C;
    color: white;
    border: 2px solid #1C6E8C;
    transition: 0.3s;
}

section#form-section form input[type="submit"]:hover {
    color: #1C6E8C;
    background-color: #fff;
}

@media (min-width: 992px)  {
    section#form-section p  {
        font-size: 2em;
    }
}

/*
    SECTION: FEATURES
------------------------*/
section#features {
    padding-top: 4em;
}
section#features .icon {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5em;
}
section#features .icon-details {
    padding-left: 1em;
    margin-bottom: 3em;
}
section#features i.fas {
    font-size: 4em;
    color: #79B791;
}
section#features p.head {
    font-size: 1.5em;
    color: #274156;
}
section#features p.desc {
    margin-top: -1em;
}
@media (max-width: 576px) {
    section#features .icon-details {
        padding-left: 2em;
    }
}
/*
    SECTION:VIDEO
----------------------------*/

section#video-section {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
@media (max-width: 576px) {
    section#video-section iframe {
        width: 400px;
    }
}
@media (max-width: 420px) {
    section#video-section iframe {
        width: 300px;
    }
}
@media (min-width: 992px) {
    section#video-section iframe {
        width: 620px;
        height: 350px;
    }
}
/*
    SECTION: PRICING
---------------------*/
section#pricing .row {
    padding: 1em;
}
section#pricing .box {
    padding: 0em;
    margin-bottom: 1em;
}
section#pricing .custom-card {
    border: 1px solid gray;
    text-align: center;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
} 
@media (min-width: 768px) {
    section#pricing .custom-card h5 {
        min-height: 60px;
    }
}
@media (min-width: 992px) {
    section#pricing .custom-card {
        min-width: 200px;
    }
}
section#pricing .custom-card h5 {
    font-weight: 400;
    text-transform: uppercase;
    background-color: #DBF9F4;
    padding: 5px;
}
section#pricing .custom-card span {
    font-size: 2em;
    font-weight: 600;
}
section#pricing .custom-card ul {
    list-style: none;
    padding: 0;
}
section#pricing .custom-card button {
    background-color: #1C6E8C;
    color: white;
    border: 2px solid #1C6E8C;
    transition: 0.3s;
    margin-bottom: 1em;
    padding: 5px 25px;
    text-transform: uppercase;
}
section#pricing .custom-card button:hover {
    font-weight: 600;
    color: #1C6E8C;
    background-color: #fff;
}
@media (max-width: 350px) {
    #header-img {
        width: 150px;
    }
}

