html, body {
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
    color: white;
}
a:hover {
    color: #8EF2FF;
}
/*
    NAV BAR
------------------*/
.navbar {
    background-color: #161819;
    padding: .5em;
    color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar__list {
    display: flex;
}
.navbar__list-item {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .navbar__list-item  {
        padding: 5px 10px;
    }
    .navbar__list-item a {
        font-size: 1rem;
    }
}
/*
    WELCOME SECTION
-----------------------*/
.welcome {
    background-color: rgba(0,0,0,0.85);
    background-image: url(./images/header-bg.jpg);
    background-size: cover;
    height: 100vh;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.welcome__title {
    font-size: 4rem;
    margin: 0;
    text-shadow: 1px 1px #8EF2FF;
}
.welcome__subtitle {
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 1px 1px #8EF2FF;
}
@media (max-width: 768px) {
    .welcome__title {
        font-size: 3rem;
    }
    .welcome__subtitle {
        font-size: 1.2rem;
    }
}
@media (max-width: 576px) {
  .welcome__title {
      font-size: 2rem;
      margin-left: .5rem;
      line-height: 1.1;
  }
  .welcome__subtitle {
      margin-left: .5rem;
  }
}
/*
    SKILLS SECTION
----------------------*/
.skills {
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills__title {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.skills__innerbox {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.skills__icon {
    font-size: 4rem;
    transition: .4s ease;
}
.skills__icon:not(:last-child) {
    margin-right: 4rem;
}
.skills__icon:hover {
    transform: scale(1.2) !important;
}  
.skills__icon__c {
    margin-top: 15px;
}
@media (max-width: 576px) {
    .skills__innerbox {
        flex-wrap: wrap;
        padding: 5px;
    }
    .skills__title {
        font-size: 1.4rem;
    }
    .skills__icon {
        font-size: 3.5rem;
    }
    .skills__icon__c {
        margin-top: 10px;
    }
    .skills__icon:not(:last-child) {
        margin-right: 1rem;
    }
} 
/*
    PROJECTS SECTION
-----------------------*/
.projects {
    padding: 2.5rem 0;
}
.projects__outerbox {
    display: flex;
    margin: 0 4rem;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.projects__tile {
    padding: 0 .5rem;
}
@media (max-width: 576px) {
    .projects__outerbox {
        flex-direction: column;
        justify-content: center;
    }
    .projects__tile {
        margin-bottom: 1rem;
    }
}
.projects__image {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}
.projects__name {
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem 0;
    font-weight: 600;
}